---
import illustration from '../assets/landing/illustration-melanie.png';
import star from '../assets/landing/star-about.svg';
import { Image } from 'astro:assets';
import Hobbie1Icon from '../assets/landing/hobbie-1.svg';
import Hobbie2Icon from '../assets/landing/hobbie-2.svg';
import Hobbie3Icon from '../assets/landing/hobbie-3.svg';
import Hobbie4Icon from '../assets/landing/hobbie-4.svg';
import Hobbie5Icon from '../assets/landing/hobbie-5.svg';
---

<section class="relative min-h-[100vh] mt-[10vh] pt-5 md:pt-20">
    <div class="container mx-auto p-4 md:px-8 flex justify-center">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8 md:gap-12 lg:gap-16 items-center">
            <div class="w-full">
                <Image 
                    src={illustration} 
                    alt="Mélanie Albert" 
                    class="w-full h-full object-cover rounded-lg" 
                    loading="lazy"
                    decoding="async"
                />
            </div>
            <div class="w-full space-y-6">
                <h2 class="text-5xl md:text-6xl text-primary font-bold font-['Inter_Variable'] tracking-[-0.08em]">
                    ¡Hola!
                </h2>
                <div class="space-y-4">
                    <p class="font-['Inter_Variable'] text-primary/90 text-lg md:text-xl leading-relaxed tracking-[-0.02em]">
                        Soy <span class="font-semibold">Mélanie Albert</span>, francesa con alma viajera y estudiante de Máster en Cultura y Comunicación, actualmente en Erasmus en Alicante. Me apasionan el diseño gráfico, la estrategia de marketing y los proyectos creativos que conectan con las personas.
                    </p>
                    <p class="font-['Inter_Variable'] text-primary/90 text-lg md:text-xl leading-relaxed tracking-[-0.02em]">
                        Fan de Adobe, Figma y todo lo que me permite dar vida a mis ideas con estilo y personalidad. Me inspiran la industria musical y cultural, aunque también quiero explorar otros sectores con creatividad y profesionalismo.
                    </p>
                    <p class="font-['Inter_Variable'] text-primary/90 text-lg md:text-xl leading-relaxed tracking-[-0.02em]">
                        Ahora vivo en Galicia, donde sigo descubriendo nuevas culturas y creciendo personal y profesionalmente. Creativa, organizada y siempre con positividad, ¡me encanta sumar energía positiva a todo lo que hago! <span class="text-2xl">💫🎨✨</span>
                    </p>
                </div>
                <div class="space-y-4 relative">
                    <button class="relative group px-4 py-1 text-3xl font-['Libre_Baskerville'] italic font-extralight tracking-[-0.06em] text-white before:absolute before:inset-0 before:bg-pink-300 before:rounded-full before:blur-[2px] before:-z-10">
                        <Image 
                            src={star} 
                            alt="Imagen de una estrella" 
                            class="absolute -top-6 -right-5 w-12 h-12 animate-pulse"
                            loading="lazy"
                            decoding="async"
                        />
                        <span class="relative z-10">hobbies</span>
                    </button>
                    <div class="grid grid-cols-3  md:grid-cols-5  gap-4 mt-5">
                        <div class="flex flex-col items-center">
                            <div class="h-14 flex items-center justify-center">
                                <Hobbie1Icon class="w-50 h-50" />
                            </div>
                            <p class="text-primary/90 text-lg font-['Inter_Variable'] tracking-[-0.07em] mt-5">tomar fotos</p>
                        </div>
                        <div class="flex flex-col items-center">
                            <div class="h-14 flex items-center justify-center">
                                <Hobbie2Icon class="w-50 h-50" />
                            </div>
                            <p class="text-primary/90 text-lg font-['Inter_Variable'] tracking-[-0.07em] mt-5">crear cosas</p>
                        </div>
                        <div class="flex flex-col items-center">
                            <div class="h-14 flex items-center justify-center">
                                <Hobbie3Icon class="w-50 h-50" />
                            </div>
                            <p class="text-primary/90 text-lg font-['Inter_Variable'] tracking-[-0.07em] mt-5">ir a conciertos</p>
                        </div>
                        <div class="flex flex-col items-center">
                            <div class="h-14 flex items-center justify-center">
                                <Hobbie4Icon class="w-50 h-50" />
                            </div>
                            <p class="text-primary/90 text-lg font-['Inter_Variable'] tracking-[-0.07em] mt-5">viajar</p>
                        </div>
                        <div class="flex flex-col items-center">
                            <div class="h-14 flex items-center justify-center">
                                <Hobbie5Icon class="w-50 h-50" />
                            </div>
                            <p class="text-primary/90 text-lg font-['Inter_Variable'] tracking-[-0.07em] mt-5">diseñar</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>