<section class="relative min-h-[100vh] mt-[10vh] pt-5 md:pt-20">
    <div class="container mx-auto p-4 md:px-8 flex justify-start">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8 md:gap-12 lg:gap-16 items-center">
            <div class="w-full">
                <div class="flex flex-col">
                    <h2 class="text-5xl md:text-6xl text-primary font-bold font-['Inter_Variable'] tracking-[-0.03em] flex flex-col">
                        <span class="font-['Inter_Variable'] text-primary font-semibold 
                        text-6xl md:text-7xl lg:text-8xl 
                        tracking-[-0.07em]">Currículum</span>
                        <span class="font-['Inter_Variable'] text-primary font-bold 
                        text-5xl md:text-6xl lg:text-7xl 
                        tracking-[-0.07em]">Vitae <span class="text-pink">2025</span></span>
                    </h2>
                    <div class="mt-10">
                        <h3 class="font-['Libre_Baskerville'] text-primary 
                        text-2xl md:text-2xl lg:text-3xl italic tracking-[-0.06em] font-extralight">educación</h3>
                        <div class="flex flex-col mt-2 space-y-3">
                            <p class="font-['Inter_Variable'] text-primary font-extralight 
                            text-xl md:text-xl lg:text-xl tracking-[-0.07em]">Bachillerato con distinción AB - Auguste & Louis Lumière, La Ciotat / 2019</p>
                            <p class="font-['Inter_Variable'] text-primary font-extralight 
                            text-xl md:text-xl lg:text-xl tracking-[-0.07em]">Grado información y comunicación - Universidad Côte d'Azur, Niza / 2019-2022</p>
                            <p class="font-['Inter_Variable'] text-primary font-extralight 
                            text-xl md:text-xl lg:text-xl tracking-[-0.07em]">Master I cultura y comunicación - Universidad de Toulouse  / 2023-2024</p>
                            <p class="font-['Inter_Variable'] text-primary font-extralight 
                            text-xl md:text-xl lg:text-xl tracking-[-0.07em]">Master 2 cultura y comunicación - Universidad de Alicante  / 2024-2025</p>
                        </div>
                    </div>
                    <div class="mt-10">
                        <h3 class="font-['Libre_Baskerville'] text-primary 
                        text-2xl md:text-2xl lg:text-3xl italic tracking-[-0.06em] font-extralight">experiencia laboral</h3>
                        <div class="flex flex-col mt-2 space-y-3">
                            <div class="flex flex-col">
                                <h4 class="font-['Inter_Variable'] text-primary font-semibold 
                                text-xl md:text-xl lg:text-xl tracking-[-0.07em]">Prácticas en Relaciones con la Prensa </h4>
                                <p class="font-['Inter_Variable'] text-primary font-extralight 
                                text-xl md:text-xl lg:text-xl tracking-[-0.07em]">Oficina de Turismo de Niza / Verano de 2021</p>
                            </div>
                            <div class="flex flex-col">
                                <h4 class="font-['Inter_Variable'] text-primary font-semibold 
                                text-xl md:text-xl lg:text-xl tracking-[-0.07em]">Auxiliar de conversación en francés IES A Cachada</h4>
                                <p class="font-['Inter_Variable'] text-primary font-extralight 
                                text-xl md:text-xl lg:text-xl tracking-[-0.07em]">Boiro / 2022-2023</p>
                            </div>
                            <div class="flex flex-col">
                                <h4 class="font-['Inter_Variable'] text-primary font-semibold 
                                text-xl md:text-xl lg:text-xl tracking-[-0.07em]">Asesor de viajes Oficina de turismo </h4>
                                <p class="font-['Inter_Variable'] text-primary font-extralight 
                                text-xl md:text-xl lg:text-xl tracking-[-0.07em]">Antibes - Juan-les-Pins / Verano de 2024</p>
                            </div>
                            <div class="flex flex-col">
                                <h4 class="font-['Inter_Variable'] text-primary font-semibold 
                                text-xl md:text-xl lg:text-xl tracking-[-0.07em]">Producción audiovisual cultural – Amis d’Arcabas </h4>
                                <p class="font-['Inter_Variable'] text-primary font-extralight 
                                text-xl md:text-xl lg:text-xl tracking-[-0.07em]">Toulouse / Nov-Marzo 2024</p>
                            </div>
                            <div class="flex flex-col">
                                <h4 class="font-['Inter_Variable'] text-primary font-semibold 
                                text-xl md:text-xl lg:text-xl tracking-[-0.07em]">Digital Marketing Specialist – Awayke Talent Solutions </h4>
                                <p class="font-['Inter_Variable'] text-primary font-extralight 
                                text-xl md:text-xl lg:text-xl tracking-[-0.07em]">El campello / Nov 2024 - actualidad</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-full">

            </div>
        </div>
    </div>
</section>