---
import background from '../assets/landing/bg-home.svg';
---

<section 
    class="relative min-h-[100vh] bg-cover bg-center bg-no-repeat flex items-center justify-center overflow-hidden py-20" 
    style={`background-image: url(${background.src})`}
>
    <div class="container mx-auto px-4 md:px-8 flex justify-center">
        <div class="max-w-4xl w-full">
            <h1 class="flex flex-col md:text-left text-center">
                <span class="font-['Libre_Baskerville'] text-primary italic font-semibold 
                    text-6xl md:text-7xl lg:text-8xl xl:text-[10rem] 
                    tracking-[-0.07em] leading-[0.5]">
                    bienvenido
                </span>
                <span class="font-['Poppins'] text-primary font-bold 
                    text-5xl md:text-6xl lg:text-7xl xl:text-9xl 
                    tracking-[-0.07em] leading-tight">
                    a mi portfolio.
                </span>
            </h1>
        </div>
    </div>
</section>