<section class="relative min-h-[100vh] flex items-center justify-center overflow-x-hidden bg-white">
    <div class="container mx-auto px-4 md:px-8">
        <h3 class="font-['Poppins'] text-pink font-bold text-4xl md:text-5xl lg:text-6xl xl:text-7xl tracking-[-0.07em] leading-[0.9]">Si te interesa mi trabajo...</h3>
        <p class="font-['Libre_Baskerville'] text-primary text-lg md:text-xl lg:text-2xl xl:text-3xl tracking-[-0.07em] leading-[0.9] mt-5 italic">No dudes en ponerte en contacto conmigo.</p>
        <div class="flex items-center w-full mt-5">
            <p class="font-['Poppins'] text-pink text-lg md:text-xl lg:text-2xl xl:text-3xl tracking-[-0.07em] leading-[0.9]">email</p>
            <div class="flex-1 border-b border-dotted border-primary ml-4"></div>
            <a href="mailto:albertmelanie21@gmail.com" class="font-['Poppins'] text-primary text-lg md:text-xl lg:text-2xl xl:text-3xl tracking-[-0.07em] leading-[0.9]">albertmelanie21@gmail.com</a>
        </div>
        <div class="flex items-center w-full mt-5">
            <p class="font-['Poppins'] text-pink text-lg md:text-xl lg:text-2xl xl:text-3xl tracking-[-0.07em] leading-[0.9]">linkedin</p>
            <div class="flex-1 border-b border-dotted border-primary ml-4"></div>
            <a href="https://www.linkedin.com/in/m%C3%A9lanie-albert-41894b157" target="_blank" class="font-['Poppins'] text-primary text-lg md:text-xl lg:text-2xl xl:text-3xl tracking-[-0.07em] leading-[0.9]">Melanie Albert</a>
        </div>
    </div>
</section>