---
import "../styles/global.css";

import '@fontsource-variable/inter';
import '@fontsource/libre-baskerville';
import '@fontsource/libre-baskerville/400-italic.css';
import '@fontsource/poppins';

---
<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Mélanie Albert | Especialista en Marketing Digital</title>
		<meta name="description" content="Me apasionan el diseño gráfico, la estrategia de marketing y los proyectos creativos que conectan con las personas.">
		<meta name="keywords" content="Mélanie Albert, marketing digital, diseño gráfico, estrategia de marketing, proyectos creativos, branding, diseño, social media, fotografía, contacto">
		<link rel="canonical" href="https://melalbert.com/" />
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="/apple-touch-icon.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="/favicon-32x32.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="/favicon-16x16.png"
		/>
		<link rel="manifest" href="/site.webmanifest" />
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#00518F" />
		<meta name="msapplication-TileColor" content="#00518F" />
		<meta name="theme-color" content="#00518F" />
	</head>
	<body class="font-sans">
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
        overflow-x: hidden;
	}
</style>